<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}

        <h1>Weather App Page Index</h1>
        <img src="/images/pandaimage.jpg">
        <p>My name is {{name}}, this website name is {{weather}}</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id='error'></p>
        <p id='printLocation'> </p>
        <p id='printTemperature'></p>

        <script src='/js/app.js'></script>
    </body>
</html>